@import 'normalize.css'; //reset css

:root {
    --primaryColor: #fe2c55;

    //default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --black: #000;
    --text-color: #333;
    --default-layout-horizontal-space: 24px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'ProximaNova', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed; // tối ưu tốc độ render font
}
button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a[href] {
    color: var(--text-color);
    text-decoration: none;
}

//fonts embeded
@font-face {
    font-family: ProximaNova;
    src: url(/assets/fonts/Proxima-Nova-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: ProximaNova;
    src: url(/assets/fonts/ProximaNova-Semibold.woff2);
    font-weight: 600;
}
@font-face {
    font-family: SofiaPro;
    src: url(/assets/fonts/sofiapro-semibold.otf);
    font-weight: 700;
}

// Custom tippy tooltip
body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        font-size: 1.6rem;
        font-weight: 600;
        border-radius: 8px;
        line-height: 2.2rem;
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
    .tippy-content {
        padding: 8px 9px;
    }
}
